In [2]:
import boxball_loader as bbl
import pandas as pd

In [3]:
hof = pd.read_csv('../data/bbref/hof.csv')
hof

,Year,Name,Unnamed: 2,Voted By,Inducted As,Votes,% of Ballots
0,2022,Bud Fowler\fowlebu99,1858-1913,Veterans,Pioneer/Executive,NaN,NaN
1,2022,Gil Hodges\hodgegi01,1924-1972,Veterans,Player,NaN,NaN
2,2022,Jim Kaat\kaatji01,1938-Living,Veterans,Player,NaN,NaN
3,2022,Minnie Minoso\minosmi01,1925-2015,Veterans,Player,NaN,NaN
4,2022,Buck O'Neil\oneilbu01,1911-2006,Veterans,Pioneer/Executive,NaN,NaN
...,...,...,...,...,...,...,...
335,1936,Ty Cobb\cobbty01,1886-1961,BBWAA,Player,222.0,98.2%
336,1936,Walter Johnson\johnswa01,1887-1946,BBWAA,Player,189.0,83.6%
337,1936,Christy Mathewson\mathech01,1880-1925,BBWAA,Player,205.0,90.7%
338,1936,Babe Ruth\ruthba01,1895-1948,BBWAA,Player,215.0,95.1%
339,1936,Honus Wagner\wagneho01,1874-1955,BBWAA,Player,215.0,95.1%

In [4]:
# The Name field actually includes both the name and ID -- split the ID out
hof['bbref_id'] = hof['Name'].apply(lambda x: x.split("\\")[1])
hof

,Year,Name,Unnamed: 2,Voted By,Inducted As,Votes,% of Ballots,bbref_id
0,2022,Bud Fowler\fowlebu99,1858-1913,Veterans,Pioneer/Executive,NaN,NaN,fowlebu99
1,2022,Gil Hodges\hodgegi01,1924-1972,Veterans,Player,NaN,NaN,hodgegi01
2,2022,Jim Kaat\kaatji01,1938-Living,Veterans,Player,NaN,NaN,kaatji01
3,2022,Minnie Minoso\minosmi01,1925-2015,Veterans,Player,NaN,NaN,minosmi01
4,2022,Buck O'Neil\oneilbu01,1911-2006,Veterans,Pioneer/Executive,NaN,NaN,oneilbu01
...,...,...,...,...,...,...,...,...
335,1936,Ty Cobb\cobbty01,1886-1961,BBWAA,Player,222.0,98.2%,cobbty01
336,1936,Walter Johnson\johnswa01,1887-1946,BBWAA,Player,189.0,83.6%,johnswa01
337,1936,Christy Mathewson\mathech01,1880-1925,BBWAA,Player,205.0,90.7%,mathech01
338,1936,Babe Ruth\ruthba01,1895-1948,BBWAA,Player,215.0,95.1%,ruthba01
339,1936,Honus Wagner\wagneho01,1874-1955,BBWAA,Player,215.0,95.1%,wagneho01

In [5]:
# Merge in the retrosheet IDs, joining on the bbref_id
ppl = bbl.load_people()[['bbref_id', 'retro_id']]
hofers = pd.merge(left=hof, right=ppl, on='bbref_id')['retro_id'].dropna().values
hofers

array(['hodgg101', 'kaatj101', 'minom101', 'olivt102', 'ortid001',
       'jeted001', 'simmt001', 'walkl001', 'bainh001', 'hallr001',
       'marte001', 'mussm001', 'rivem002', 'smitl001', 'guerv001',
       'hofft001', 'jonec004', 'morrj001', 'thomj002', 'trama001',
       'bagwj001', 'raint001', 'rodri001', 'grifk002', 'piazm001',
       'biggc001', 'johnr005', 'martp001', 'smolj001', 'cox-b103',
       'glavt001', 'larut101', 'maddg002', 'thomf001', 'torrj101',
       'odayh101', 'whitd102', 'larkb001', 'santr102', 'alomr001',
       'blylb001', 'dawsa001', 'harvd901', 'herzw101', 'gordj101',
       'hendr001', 'ricej001', 'gossr001', 'soutb101', 'willd104',
       'gwynt001', 'ripkc001', 'browr103', 'broww101', 'coopa101',
       'suttb001', 'boggw001', 'sandr001', 'ecked001', 'molip001',
       'cartg001', 'murre001', 'smito001', 'mazeb101', 'puckk001',
       'winfd001', 'andes101', 'fiskc001', 'mcphb101', 'peret001',
       'bretg001', 'cepeo101', 'chyln901', 'ryann001', 'selef801',
       'younr001', 'davig102', 'dobyl101', 'suttd001', 'fox-n101',
       'lasot101', 'niekp001', 'bunnj101', 'hanln101', 'weave801',
       'ashbr101', 'day-l101', 'schmm001', 'willv101', 'carls001',
       'durol101', 'rizzp101', 'jackr001', 'fingr001', 'mcgob901',
       'newhh101', 'seavt001', 'carer001', 'jenkf101', 'lazzt101',
       'perrg101', 'morgj001', 'palmj001', 'barla901', 'bencj101',
       'schor101', 'yastc101', 'starw101', 'dandr101', 'huntj101',
       'willb104', 'doerb101', 'lombe101', 'mccow101', 'brocl102',
       'slaue101', 'vauga101', 'wilhh101', 'aparl101', 'drysd101',
       'ferrr101', 'killh102', 'reesp101', 'alstw101', 'kellg102',
       'marij101', 'robib104', 'aaroh101', 'jackt101', 'robif103',
       'gibsb101', 'mizej101', 'kalia101', 'kleic101', 'snidd101',
       'maysw101', 'wilsh102', 'jossa101', 'mathe101', 'banke101',
       'dihim101', 'lopea102', 'rusia101', 'sewej101', 'charo101',
       'connr102', 'hubbc901', 'lemob101', 'lindf101', 'rober102',
       'avere101', 'harrb106', 'hermb101', 'kiner101', 'bellj103',
       'bottj101', 'conlj102', 'fordw101', 'mantm101', 'thoms103',
       'clemr101', 'evanb901', 'irvim101', 'kellg101', 'spahw101',
       'welcm102', 'berry101', 'gomel102', 'koufs101', 'wynne101',
       'younr101', 'bancd101', 'beckj103', 'hafec101', 'hooph101',
       'kellj106', 'marqr102', 'paigs101', 'boudl101', 'combe101',
       'hainj101', 'campr102', 'coves101', 'hoytw101', 'musis101',
       'cuylk101', 'goslg101', 'medwj101', 'rickb101', 'ruffr101',
       'wanel101', 'stenc101', 'willt103', 'galvj103', 'appll101',
       'faber101', 'grimb101', 'huggm101', 'keeft101', 'manuh101',
       'wardm101', 'clarj102', 'flice101', 'rices101', 'rixee101',
       'fellb101', 'mckeb101', 'robij103', 'rouse101', 'carem101',
       'hamib101', 'wheaz101', 'craws101', 'mccaj802', 'cronj101',
       'greeh102', 'bakef102', 'dimaj101', 'hartg103', 'lyont102',
       'schar103', 'vancd101', 'dickb101', 'marar101', 'terrb101',
       'barre801', 'bendc101', 'connt901', 'deand102', 'klemb901',
       'simma101', 'wallb101', 'wrigh101', 'heilh101', 'wanep101',
       'foxxj101', 'ott-m101', 'browm102', 'gehrc101', 'nichk101',
       'pennh101', 'trayp101', 'cochm101', 'frisf101', 'grovl101',
       'hubbc101', 'burkj101', 'chanf101', 'chesj101', 'everj102',
       'grifc101', 'mccat103', 'mcgij101', 'plane101', 'tinkj101',
       'waddr101', 'walse101', 'bresr102', 'broud101', 'clarf101',
       'collj103', 'delae101', 'duffh101', 'jennh101', 'kellk101',
       'orouj103', 'robiw101', 'hornr101', 'ansoc101', 'colle101',
       'comic101', 'cummc101', 'ewinb101', 'gehrl101', 'keelw101',
       'radbc101', 'sislg101', 'spala101', 'alexg102', 'lajon101',
       'mackc101', 'mcgrj101', 'speat101', 'wrigg101', 'younc102',
       'cobbt101', 'johnw102', 'mathc102', 'ruthb101', 'wagnh101'],
      dtype=object)

In [6]:
# Load all the team gamelogs, to find starts by HOF pitchers
glt = bbl.load_gamelog_teams(game_types=(bbl.GameType.RS|bbl.GameType.PS), years=range(1800, 3000))
glt.columns

Index(['game_id', 'date', 'double_header', 'yr', 'game_type', 'park_id',
       'team', 'team_league', 'team_game_number', 'runs_scored', 'line_score',
       'ab', 'h', 'd', 't', 'hr', 'rbi', 'sh', 'sf', 'hbp', 'bb', 'ibb', 'k',
       'sb', 'cs', 'gdp', 'ci', 'lob', 'pitchers', 'er', 'ter', 'wp', 'balks',
       'po', 'a', 'e', 'passed', 'db', 'tp', 'manager_id', 'manager_name',
       'starting_pitcher_id', 'starting_pitcher_name', 'batting_1_player_id',
       'batting_1_name', 'batting_1_position', 'batting_2_player_id',
       'batting_2_name', 'batting_2_position', 'batting_3_player_id',
       'batting_3_name', 'batting_3_position', 'batting_4_player_id',
       'batting_4_name', 'batting_4_position', 'batting_5_player_id',
       'batting_5_name', 'batting_5_position', 'batting_6_player_id',
       'batting_6_name', 'batting_6_position', 'batting_7_player_id',
       'batting_7_name', 'batting_7_position', 'batting_8_player_id',
       'batting_8_name', 'batting_8_position', 'batting_9_player_id',
       'batting_9_name', 'batting_9_position', 'HA', 'opp', 'runs_allowed',
       'W', 'L', 'linescore_parsed'],
      dtype='object')

In [7]:
hof_starts = glt.query('starting_pitcher_id in @hofers')[['game_id', 'team', 'starting_pitcher_id']]
hof_starts

            game_id team starting_pitcher_id
14820  WS3187105050  BS1            spala101
14823  TRO187105090  BS1            spala101
14828  BS1187105160  BS1            spala101
14833  BS1187105200  BS1            spala101
14838  BS1187105240  BS1            spala101
...             ...  ...                 ...
76473  CHN201308300  PHI            hallr001
76552  PHI201309040  PHI            hallr001
76655  PHI201309120  PHI            hallr001
76727  PHI201309170  PHI            hallr001
76812  MIA201309230  PHI            hallr001

[36090 rows x 3 columns]

In [8]:
# Start with all the catcher starts
catchers = bbl.load_gamelog_starters(game_types=bbl.GameType.ALL, years=range(1800, 3000)).query("pos==2")
catchers.sample(10)

,player_id,game_id,date,yr,game_type,team,HA,pos,batting_pos
19390,cochm101,PHA193304280,1933-04-28,1933,RS,PHA,H,2.0,3
44840,gonzm101,CHN192604290,1926-04-29,1926,RS,CHN,H,2.0,8
6227,garaj101,SLN194608240,1946-08-24,1946,RS,SLN,H,2.0,7
206656,cruzt002,SLN201509270,2015-09-27,2015,RS,SLN,H,2.0,8
143662,reedj001,HOU199804030,1998-04-03,1998,RS,COL,A,2.0,7
25078,rosej101,PHI196307150,1963-07-15,1963,RS,LAN,A,2.0,6
153904,hargc101,PIT193005030,1930-05-03,1930,RS,PIT,H,2.0,8
160801,murps001,SEA202008030,2020-08-03,2020,RS,OAK,A,2.0,9
107199,hoffs101,BSN194508152,1945-08-15,1945,RS,BSN,H,2.0,7
103607,edwad102,CLE196209021,1962-09-02,1962,RS,CLE,H,2.0,5

In [9]:
# To merge the starting catcher into the hof starts
starts = pd.merge(left=hof_starts, right=catchers, on=['game_id', 'team']).rename(columns={'player_id': 'catcher_id'})
starts

,game_id,team,starting_pitcher_id,catcher_id,date,yr,game_type,HA,pos,batting_pos
0,WS3187105050,BS1,spala101,mcvec101,1871-05-05,1871,RS,A,2.0,4
1,TRO187105090,BS1,spala101,mcvec101,1871-05-09,1871,RS,A,2.0,4
2,BS1187105160,BS1,spala101,mcvec101,1871-05-16,1871,RS,H,2.0,3
3,BS1187105200,BS1,spala101,mcvec101,1871-05-20,1871,RS,H,2.0,4
4,BS1187105240,BS1,spala101,mcvec101,1871-05-24,1871,RS,H,2.0,4
...,...,...,...,...,...,...,...,...,...,...
30518,CHN201308300,PHI,hallr001,ruizc001,2013-08-30,2013,RS,A,2.0,5
30519,PHI201309040,PHI,hallr001,ruizc001,2013-09-04,2013,RS,H,2.0,4
30520,PHI201309120,PHI,hallr001,ruizc001,2013-09-12,2013,RS,H,2.0,4
30521,PHI201309170,PHI,hallr001,ruizc001,2013-09-17,2013,RS,H,2.0,4
30522,MIA201309230,PHI,hallr001,ruizc001,2013-09-23,2013,RS,A,2.0,4

In [10]:
starts[['starting_pitcher_id', 'catcher_id']].drop_duplicates()['catcher_id'].value_counts().head(10)

hegaj101    7
browd102    6
bengb101    6
hallt102    6
sundj001    6
oatej101    6
myerg001    6
ofarb101    6
davij001    6
mccat101    5
Name: catcher_id, dtype: int64

In [11]:
starts[['starting_pitcher_id', 'catcher_id']].query('catcher_id=="davij001"').value_counts()

starting_pitcher_id  catcher_id
ecked001             davij001      73
jenkf101             davij001      54
maddg002             davij001      42
smolj001             davij001      14
glavt001             davij001      13
smitl001             davij001       6
dtype: int64

In [12]:
# Now do this with event data, looking at each play rather than each start
ev = bbl.load_event_data(1800, 3000, ['pit_id', 'pos2_fld_id'], game_types=(bbl.GameType.RS|bbl.GameType.PS))
ev.sample(10)

,game_id,date,game_type,bat_event_fl,tb_ct,ab_fl,pos2_fld_id,pit_id,event_cd,h_fl,ob_fl,yr
13032880,CLE201405180,2014-05-18,RS,True,0,True,jasoj001,savej001,2,0,0,2014
220770,BSN191909242,1919-09-24,RS,True,0,True,snydf101,hubbb101,2,0,0,1919
5045408,PIT196806162,1968-06-16,RS,True,0,False,taylc102,siskt101,14,0,1,1968
10850799,PIT200304170,2003-04-17,RS,True,0,True,kendj001,tavaj001,2,0,0,2003
1115646,BOS193007060,1930-07-06,RS,True,1,True,hevij102,macfd101,20,1,1,1930
11036233,TEX200404120,2004-04-12,RS,True,0,False,lairg001,cordf002,14,0,1,2004
8994765,OAK199210040,1992-10-04,RS,True,0,True,merch001,russj001,2,0,0,1992
11633770,BAL200704200,2007-04-20,RS,True,0,True,zaung001,burna001,2,0,0,2007
12206098,TBA201004060,2010-04-06,RS,True,0,True,wietm001,albem001,2,0,0,2010
8444824,OAK198908150,1989-08-15,RS,True,0,True,hassr001,davis001,2,0,0,1989

In [13]:
ev.query('pit_id in @hofers')[['pit_id', 'pos2_fld_id']].drop_duplicates()['pos2_fld_id'].value_counts()

sundj001    9
myerg001    8
dempr001    8
hegaj101    7
davij001    7
           ..
josed101    1
whits103    1
kutcr001    1
stefj001    1
reedj001    1
Name: pos2_fld_id, Length: 706, dtype: int64

In [14]:
ev.query('pit_id in @hofers')[['pit_id', 'pos2_fld_id']].query('pos2_fld_id=="sundj001"')['pit_id'].value_counts()

jenkf101    5379
perrg101    2931
blylb001    1437
suttd001     603
maddg002     196
ryann001     162
fingr001     142
smitl001      97
gossr001      35
Name: pit_id, dtype: int64