In [1]:
import pandas as pd
import datetime

# Father's Day is the third Sunday in June 
def get_fathers_day_yr(yr):
    june_1st_day = datetime.date(yr,6,1).weekday()
    return datetime.date(yr, 6, 21-june_1st_day)

(get_fathers_day_yr(2019), get_fathers_day_yr(2020), get_fathers_day_yr(2036))

(datetime.date(2019, 6, 16),
 datetime.date(2020, 6, 21),
 datetime.date(2036, 6, 15))

In [2]:
fathers_days = [get_fathers_day_yr(yr) for yr in range(1910,2020)]
fathers_days

[datetime.date(1910, 6, 19),
 datetime.date(1911, 6, 18),
 datetime.date(1912, 6, 16),
 datetime.date(1913, 6, 15),
 datetime.date(1914, 6, 21),
 datetime.date(1915, 6, 20),
 datetime.date(1916, 6, 18),
 datetime.date(1917, 6, 17),
 datetime.date(1918, 6, 16),
 datetime.date(1919, 6, 15),
 datetime.date(1920, 6, 20),
 datetime.date(1921, 6, 19),
 datetime.date(1922, 6, 18),
 datetime.date(1923, 6, 17),
 datetime.date(1924, 6, 15),
 datetime.date(1925, 6, 21),
 datetime.date(1926, 6, 20),
 datetime.date(1927, 6, 19),
 datetime.date(1928, 6, 17),
 datetime.date(1929, 6, 16),
 datetime.date(1930, 6, 15),
 datetime.date(1931, 6, 21),
 datetime.date(1932, 6, 19),
 datetime.date(1933, 6, 18),
 datetime.date(1934, 6, 17),
 datetime.date(1935, 6, 16),
 datetime.date(1936, 6, 21),
 datetime.date(1937, 6, 20),
 datetime.date(1938, 6, 19),
 datetime.date(1939, 6, 18),
 datetime.date(1940, 6, 16),
 datetime.date(1941, 6, 15),
 datetime.date(1942, 6, 21),
 datetime.date(1943, 6, 20),
 datetime.date(1944, 6, 18),
 datetime.date(1945, 6, 17),
 datetime.date(1946, 6, 16),
 datetime.date(1947, 6, 15),
 datetime.date(1948, 6, 20),
 datetime.date(1949, 6, 19),
 datetime.date(1950, 6, 18),
 datetime.date(1951, 6, 17),
 datetime.date(1952, 6, 15),
 datetime.date(1953, 6, 21),
 datetime.date(1954, 6, 20),
 datetime.date(1955, 6, 19),
 datetime.date(1956, 6, 17),
 datetime.date(1957, 6, 16),
 datetime.date(1958, 6, 15),
 datetime.date(1959, 6, 21),
 datetime.date(1960, 6, 19),
 datetime.date(1961, 6, 18),
 datetime.date(1962, 6, 17),
 datetime.date(1963, 6, 16),
 datetime.date(1964, 6, 21),
 datetime.date(1965, 6, 20),
 datetime.date(1966, 6, 19),
 datetime.date(1967, 6, 18),
 datetime.date(1968, 6, 16),
 datetime.date(1969, 6, 15),
 datetime.date(1970, 6, 21),
 datetime.date(1971, 6, 20),
 datetime.date(1972, 6, 18),
 datetime.date(1973, 6, 17),
 datetime.date(1974, 6, 16),
 datetime.date(1975, 6, 15),
 datetime.date(1976, 6, 20),
 datetime.date(1977, 6, 19),
 datetime.date(1978, 6, 18),
 datetime.date(1979, 6, 17),
 datetime.date(1980, 6, 15),
 datetime.date(1981, 6, 21),
 datetime.date(1982, 6, 20),
 datetime.date(1983, 6, 19),
 datetime.date(1984, 6, 17),
 datetime.date(1985, 6, 16),
 datetime.date(1986, 6, 15),
 datetime.date(1987, 6, 21),
 datetime.date(1988, 6, 19),
 datetime.date(1989, 6, 18),
 datetime.date(1990, 6, 17),
 datetime.date(1991, 6, 16),
 datetime.date(1992, 6, 21),
 datetime.date(1993, 6, 20),
 datetime.date(1994, 6, 19),
 datetime.date(1995, 6, 18),
 datetime.date(1996, 6, 16),
 datetime.date(1997, 6, 15),
 datetime.date(1998, 6, 21),
 datetime.date(1999, 6, 20),
 datetime.date(2000, 6, 18),
 datetime.date(2001, 6, 17),
 datetime.date(2002, 6, 16),
 datetime.date(2003, 6, 15),
 datetime.date(2004, 6, 20),
 datetime.date(2005, 6, 19),
 datetime.date(2006, 6, 18),
 datetime.date(2007, 6, 17),
 datetime.date(2008, 6, 15),
 datetime.date(2009, 6, 21),
 datetime.date(2010, 6, 20),
 datetime.date(2011, 6, 19),
 datetime.date(2012, 6, 17),
 datetime.date(2013, 6, 16),
 datetime.date(2014, 6, 15),
 datetime.date(2015, 6, 21),
 datetime.date(2016, 6, 19),
 datetime.date(2017, 6, 18),
 datetime.date(2018, 6, 17),
 datetime.date(2019, 6, 16)]

In [6]:
df = pd.read_parquet("file:daily.parquet").drop_duplicates(['game_id', 'player_id'])

fdays = df[df['game_dt'].isin(fathers_days)]
fdays

,game_id,game_dt,game_ct,appearance_dt,team_id,player_id,slot_ct,seq_ct,home_fl,opponent_id,...,f_cf_tp,f_rf_g,f_rf_gs,f_rf_out,f_rf_tc,f_rf_po,f_rf_a,f_rf_e,f_rf_dp,f_rf_tp
49676,ATL198206200,1982-06-20,0,1982-06-20,SFN,wohlj001,1,1,False,ATL,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,0.0
49677,ATL198206200,1982-06-20,0,1982-06-20,SFN,morgj001,2,1,False,ATL,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,0.0
49678,ATL198206200,1982-06-20,0,1982-06-20,SFN,davic001,3,1,False,ATL,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,0.0
49679,ATL198206200,1982-06-20,0,1982-06-20,SFN,clarj001,4,1,False,ATL,...,0.0,1,1,24.0,1.0,1.0,0.0,0.0,0,0.0
49680,ATL198206200,1982-06-20,0,1982-06-20,SFN,venam001,4,2,False,ATL,...,0.0,1,0,3.0,0.0,0.0,0.0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5930775,TOR198006150,1980-06-15,0,1980-06-15,TOR,boser101,8,1,True,TEX,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,0.0
5930776,TOR198006150,1980-06-15,0,1980-06-15,TOR,cannj101,8,2,True,TEX,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,0.0
5930777,TOR198006150,1980-06-15,0,1980-06-15,TOR,davib101,9,1,True,TEX,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,0.0
5930778,TOR198006150,1980-06-15,0,1980-06-15,TOR,clanj001,0,1,True,TEX,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,0.0
5930779,TOR198006150,1980-06-15,0,1980-06-15,TOR,garvj101,0,2,True,TEX,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,0.0

In [4]:
pitching_columns=['player_id', 'p_g', 'p_gs', 'p_out', 'p_er', 'p_w', 'p_l', 'p_so']
fdays_pitching = fdays[fdays['p_g']==1][pitching_columns].groupby('player_id').sum().sort_values(by='p_gs', ascending=False).head(25)
fdays_pitching['era'] = fdays_pitching['p_er']/fdays_pitching['p_out']*27
fdays_pitching

           p_g  p_gs  p_out  p_er  p_w  p_l  p_so       era
player_id
perrg101    10     9    222  32.0    1    6  58.0  3.891892
lyont102     9     9    208  36.0    2    6  17.0  4.673077
bunnj101     9     9    190  17.0    4    3  51.0  2.415789
vandj101     9     8    150  24.0    2    5  22.0  4.320000
spahw101     7     7    161  21.0    3    4  20.0  3.521739
sabac001     7     7    141  13.0    4    1  44.0  2.489362
simmc101     8     7    159  17.0    3    3  25.0  2.886792
fellb101     8     7    199  17.0    6    1  38.0  2.306533
grovl101     9     7    143  18.0    4    1  30.0  3.398601
seavt001     7     7    154  21.0    3    3  31.0  3.681818
glavt001     7     7    129  22.0    3    2  26.0  4.604651
dierl101     7     7     96  29.0    0    3  18.0  8.156250
johnw102     7     7    181  14.0    4    3  18.0  2.088398
knepb001     6     6    116  13.0    2    2  23.0  3.025862
leond103     7     6    122  18.0    2    3  20.0  3.983607
lolim101     7     6    136  13.0    3    1  43.0  2.580882
newhh101     6     6    128  17.0    1    4  22.0  3.585938
white102     7     6     94  32.0    1    3  12.0  9.191489
huntj101     7     6    125  20.0    3    2  23.0  4.320000
warnl101     9     6    169  17.0    3    2  25.0  2.715976
rowes101     8     6    153  22.0    5    0  29.0  3.882353
arrob001     6     6    100  16.0    2    3  26.0  4.320000
krukm001     6     6    130  18.0    5    0  31.0  3.738462
mcnad102     6     6    128  17.0    4    1  21.0  3.585938
wiser101     6     6     68  15.0    1    4   3.0  5.955882

In [5]:
fdays[(fdays['p_g']==1) & (fdays['player_id']=='fellb101')][['game_id','game_dt'] + pitching_columns].sort_values(by='game_dt')

,game_id,game_dt,player_id,p_g,p_gs,p_out,p_er,p_w,p_l,p_so
2004610,BOS193906181,1939-06-18,fellb101,1,1,22,5.0,0,1,5.0
3739314,CLE194006161,1940-06-16,fellb101,1,1,27,2.0,1,0,12.0
2851896,CLE194606161,1946-06-16,fellb101,1,1,33,1.0,1,0,9.0
4839277,CLE194806201,1948-06-20,fellb101,1,1,27,3.0,1,0,6.0
5526663,NYA194906190,1949-06-19,fellb101,1,1,33,2.0,1,0,2.0
4160350,CLE195006181,1950-06-18,fellb101,1,1,27,0.0,1,0,2.0
4701383,CLE195406201,1954-06-20,fellb101,1,1,27,1.0,1,0,2.0
3348983,BOS195506190,1955-06-19,fellb101,1,0,3,3.0,0,0,0.0