In [1]:
import pandas as pd
import numpy as np

import boxball_loader as bbl
import utils

In [4]:
cols = ['bat_team_id', 'fld_team_id', 'bat_id', 'pit_id','bat_event_fl', 'bat_hand_cd', 'pit_hand_cd', 
        'event_cd', 'game_id', 'ab_fl', 'h_fl']
pa = bbl.load_event_data(1982, 2001, cols)

In [5]:
hof = pd.read_csv('../data/bbref/hof.csv')
hof

,Year,Name,Unnamed: 2,Voted By,Inducted As,Votes,% of Ballots
0,2020,Derek Jeter\jeterde01,1974-Living,BBWAA,Player,396.0,99.7%
1,2020,Marvin Miller\millema99,1917-2012,Veterans,Pioneer/Executive,NaN,NaN
2,2020,Ted Simmons\simmote01,1949-Living,Veterans,Player,NaN,NaN
3,2020,Larry Walker\walkela01,1966-Living,BBWAA,Player,304.0,76.6%
4,2019,Harold Baines\baineha01,1959-Living,Veterans,Player,NaN,NaN
...,...,...,...,...,...,...,...
328,1936,Ty Cobb\cobbty01,1886-1961,BBWAA,Player,222.0,98.2%
329,1936,Walter Johnson\johnswa01,1887-1946,BBWAA,Player,189.0,83.6%
330,1936,Christy Mathewson\mathech01,1880-1925,BBWAA,Player,205.0,90.7%
331,1936,Babe Ruth\ruthba01,1895-1948,BBWAA,Player,215.0,95.1%
332,1936,Honus Wagner\wagneho01,1874-1955,BBWAA,Player,215.0,95.1%

In [6]:
def get_id(name_str):
    return name_str.split('\\')[1]

In [7]:
get_id('Honus Wagner\wagneho01')

'wagneho01'

In [8]:
hof['bbref_id'] = hof['Name'].apply(get_id)

In [9]:
hof

,Year,Name,Unnamed: 2,Voted By,Inducted As,Votes,% of Ballots,bbref_id
0,2020,Derek Jeter\jeterde01,1974-Living,BBWAA,Player,396.0,99.7%,jeterde01
1,2020,Marvin Miller\millema99,1917-2012,Veterans,Pioneer/Executive,NaN,NaN,millema99
2,2020,Ted Simmons\simmote01,1949-Living,Veterans,Player,NaN,NaN,simmote01
3,2020,Larry Walker\walkela01,1966-Living,BBWAA,Player,304.0,76.6%,walkela01
4,2019,Harold Baines\baineha01,1959-Living,Veterans,Player,NaN,NaN,baineha01
...,...,...,...,...,...,...,...,...
328,1936,Ty Cobb\cobbty01,1886-1961,BBWAA,Player,222.0,98.2%,cobbty01
329,1936,Walter Johnson\johnswa01,1887-1946,BBWAA,Player,189.0,83.6%,johnswa01
330,1936,Christy Mathewson\mathech01,1880-1925,BBWAA,Player,205.0,90.7%,mathech01
331,1936,Babe Ruth\ruthba01,1895-1948,BBWAA,Player,215.0,95.1%,ruthba01
332,1936,Honus Wagner\wagneho01,1874-1955,BBWAA,Player,215.0,95.1%,wagneho01

In [10]:
hofers = hof[hof['Inducted As']=='Player']['bbref_id']
hofers

0      jeterde01
2      simmote01
3      walkela01
4      baineha01
5      hallaro01
         ...
328     cobbty01
329    johnswa01
330    mathech01
331     ruthba01
332    wagneho01
Name: bbref_id, Length: 264, dtype: object

In [11]:
pa.columns.values

array(['game_id', 'date', 'pit_hand_cd', 'bat_team_id', 'bat_hand_cd',
       'tb_ct', 'event_cd', 'bat_id', 'ab_fl', 'fld_team_id',
       'bat_event_fl', 'pit_id', 'h_fl', 'ob_fl', 'yr'], dtype=object)

In [12]:
tg = pa[pa['bat_id']=='gwynt001']
tg

,game_id,date,pit_hand_cd,bat_team_id,bat_hand_cd,tb_ct,event_cd,bat_id,ab_fl,fld_team_id,bat_event_fl,pit_id,h_fl,ob_fl,yr
89109,SDN198207190,1982-07-19,R,SDN,L,0,2,gwynt001,False,PHI,True,krukm001,0,0,1982
89131,SDN198207190,1982-07-19,L,SDN,L,0,2,gwynt001,True,PHI,True,mongs001,0,0,1982
89147,SDN198207190,1982-07-19,L,SDN,L,0,3,gwynt001,True,PHI,True,mongs001,0,0,1982
89171,SDN198207190,1982-07-19,L,SDN,L,2,21,gwynt001,True,PHI,True,mongs001,1,1,1982
89183,SDN198207190,1982-07-19,R,SDN,L,1,20,gwynt001,True,PHI,True,reedr001,1,1,1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3353402,SFN200109300,2001-09-30,R,SDN,L,0,3,gwynt001,True,SFN,True,nen-r001,0,0,2001
3357105,SDN200110040,2001-10-04,R,SDN,L,0,14,gwynt001,False,LAN,True,tromm001,0,1,2001
3359031,SDN200110050,2001-10-05,R,SDN,L,0,2,gwynt001,True,COL,True,jimej001,0,0,2001
3359843,SDN200110060,2001-10-06,L,SDN,L,2,21,gwynt001,True,COL,True,whitg001,1,1,2001
3361194,SDN200110070,2001-10-07,R,SDN,L,0,2,gwynt001,True,COL,True,jimej001,0,0,2001

In [13]:
tg['pit_id'].value_counts()

maddg002    107
glavt001    105
scotm001     95
browt001     92
mulht001     90
           ...
smitm001      1
conns001      1
martr001      1
farnk001      1
funkt001      1
Name: pit_id, Length: 896, dtype: int64

In [14]:
ppl = pd.read_parquet('../data/baseballdatabank/people.parquet')
ppl.columns

Index(['player_id', 'birth_year', 'birth_month', 'birth_day', 'birth_country',
       'birth_state', 'birth_city', 'death_year', 'death_month', 'death_day',
       'death_country', 'death_state', 'death_city', 'name_first', 'name_last',
       'name_given', 'weight', 'height', 'bats', 'throws', 'debut',
       'final_game', 'retro_id', 'bbref_id'],
      dtype='object')

In [15]:
tg2 = pd.merge(left=tg, right=ppl[['retro_id', 'bbref_id']], left_on='pit_id', right_on='retro_id')
tg2

,game_id,date,pit_hand_cd,bat_team_id,bat_hand_cd,tb_ct,event_cd,bat_id,ab_fl,fld_team_id,bat_event_fl,pit_id,h_fl,ob_fl,yr,retro_id,bbref_id
0,SDN198207190,1982-07-19,R,SDN,L,0,2,gwynt001,False,PHI,True,krukm001,0,0,1982,krukm001,krukomi01
1,SFN198306240,1983-06-24,R,SDN,L,0,2,gwynt001,True,SFN,True,krukm001,0,0,1983,krukm001,krukomi01
2,SFN198306240,1983-06-24,R,SDN,L,0,14,gwynt001,False,SFN,True,krukm001,0,1,1983,krukm001,krukomi01
3,SFN198306240,1983-06-24,R,SDN,L,0,2,gwynt001,True,SFN,True,krukm001,0,0,1983,krukm001,krukomi01
4,SDN198307040,1983-07-04,R,SDN,L,2,21,gwynt001,True,SFN,True,krukm001,1,1,1983,krukm001,krukomi01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10375,SDN200109050,2001-09-05,R,SDN,L,0,2,gwynt001,True,SLN,True,willw001,0,0,2001,willw001,williwo02
10376,LAN200109190,2001-09-19,R,SDN,L,1,20,gwynt001,True,LAN,True,tromm001,1,1,2001,tromm001,trombmi01
10377,SDN200110040,2001-10-04,R,SDN,L,0,14,gwynt001,False,LAN,True,tromm001,0,1,2001,tromm001,trombmi01
10378,SDN200109210,2001-09-21,R,SDN,L,0,2,gwynt001,True,SFN,True,worrt002,0,0,2001,worrt002,worreti01
10379,COL200109250,2001-09-25,R,SDN,L,0,2,gwynt001,True,COL,True,davik001,0,0,2001,davik001,daviska01

In [16]:
vs_hof = tg2[tg2['bbref_id'].isin(hofers)]
vs_hof

,game_id,date,pit_hand_cd,bat_team_id,bat_hand_cd,tb_ct,event_cd,bat_id,ab_fl,fld_team_id,bat_event_fl,pit_id,h_fl,ob_fl,yr,retro_id,bbref_id
60,SDN198207200,1982-07-20,L,SDN,L,0,3,gwynt001,True,PHI,True,carls001,0,0,1982,carls001,carltst01
61,SDN198207200,1982-07-20,L,SDN,L,0,2,gwynt001,True,PHI,True,carls001,0,0,1982,carls001,carltst01
62,SDN198207200,1982-07-20,L,SDN,L,0,2,gwynt001,True,PHI,True,carls001,0,0,1982,carls001,carltst01
63,SDN198207200,1982-07-20,L,SDN,L,0,2,gwynt001,True,PHI,True,carls001,0,0,1982,carls001,carltst01
64,SDN198405110,1984-05-11,L,SDN,L,0,2,gwynt001,True,PHI,True,carls001,0,0,1984,carls001,carltst01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9011,ARI199909300,1999-09-30,L,SDN,L,0,2,gwynt001,True,ARI,True,johnr005,0,0,1999,johnr005,johnsra05
9012,ARI199909300,1999-09-30,L,SDN,L,1,20,gwynt001,True,ARI,True,johnr005,1,1,1999,johnr005,johnsra05
9013,ARI199909300,1999-09-30,L,SDN,L,0,2,gwynt001,True,ARI,True,johnr005,0,0,1999,johnr005,johnsra05
9014,ARI200109070,2001-09-07,L,SDN,L,0,2,gwynt001,True,ARI,True,johnr005,0,0,2001,johnr005,johnsra05
10152,SDN199810200,1998-10-20,R,SDN,L,1,20,gwynt001,True,NYA,True,rivem002,1,1,1998,rivem002,riverma01

In [17]:
utils.summarize_events(vs_hof, 'bat_id')

           pa   ob   ab    h   tb        ba      obp       slg      woba
bat_id
gwynt001  548  191  509  168  216  0.330059  0.34854  0.424361  0.326135

In [18]:
vs_hof['event_cd'].value_counts()

2     315
20    132
21     28
3      27
14     23
15     10
18      5
22      4
23      4
Name: event_cd, dtype: int64

In [19]:
vs_hof['pit_id'].value_counts()

maddg002    107
glavt001    105
smolj001     75
ryann001     68
martp001     36
smitl001     23
carls001     22
johnr005     20
ecked001     19
niekp001     17
suttd001     16
seavt001     14
morrj001     11
suttb001     10
mussm001      1
gossr001      1
rivem002      1
jenkf101      1
hofft001      1
Name: pit_id, dtype: int64