# McGee vs Murray, 1990

What did the NL BA leaderboard look like when McGee was traded to the A's on August 30, 1990?

In [1]:
import boxball_loader as bbl
import pandas as pd

In [2]:
df = bbl.load_dailies_bat(game_types=bbl.GameType.RS).query('yr==1990')

In [3]:
aug = df[(df['game_dt']< '1990-08-31')].groupby('player_id')[['b_pa', 'b_ab', 'b_h']].sum()
aug

            b_pa  b_ab  b_h
player_id
aased001     0.0     0    0
abboj001     0.0     0    0
abbop001     0.0     0    0
abnes001   154.0   144   38
ackej001     0.0     0    0
...          ...   ...  ...
younc002     0.0     0    0
young001   130.0   116   20
younm001     0.0     0    0
younr001   563.0   482  111
zeilt001   455.0   404  102

[933 rows x 3 columns]

In [4]:
aug['ba'] = aug['b_h']/aug['b_ab']

In [6]:
aug[aug['b_pa']>= 120*3.1].sort_values('ba', ascending=False).head(25)

            b_pa  b_ab  b_h        ba
player_id
dyksl001   562.0   476  162  0.340336
mcgew001   542.0   501  168  0.335329
magad001   417.0   347  115  0.331412
hendr001   476.0   395  129  0.326582
palmr001   517.0   474  150  0.316456
bretg001   508.0   453  143  0.315673
trama001   549.0   479  151  0.315240
duncm001   381.0   357  112  0.313725
gwynt001   558.0   509  159  0.312377
murre001   509.0   443  138  0.311512
bondb001   497.0   416  129  0.310096
dawsa001   463.0   420  130  0.309524
gracm001   530.0   472  146  0.309322
boggw001   583.0   505  156  0.308911
reedj003   543.0   477  147  0.308176
grifk002   561.0   503  154  0.306163
burke001   507.0   461  141  0.305857
parkd001   540.0   490  149  0.304082
jamec001   468.0   431  131  0.303944
sandr001   559.0   510  155  0.303922
harpb001   420.0   395  120  0.303797
wallt001   537.0   494  150  0.303644
mitck001   488.0   435  132  0.303448
colev001   507.0   466  141  0.302575
larkb001   550.0   501  151  0.301397