In [1]:
import boxball_loader as bbl
import pandas as pd
import baseball_stats_utils as bsu

In [2]:
mgrs = pd.read_parquet(f'{bbl.BASEBALL_DATABANK_DIR}/managers.parquet').rename(columns={'player_id': 'mgr_id'})
mgrs.columns

Index(['mgr_id', 'year_id', 'team_id', 'lg_id', 'inseason', 'g', 'w', 'l',
       'rank', 'plyr_mgr'],
      dtype='object')

In [3]:
plrs = bbl.load_appearances()
plrs.columns

Index(['year_id', 'team_id', 'lg_id', 'player_id', 'g_all', 'gs', 'g_batting',
       'g_defense', 'g_p', 'g_c', 'g_1b', 'g_2b', 'g_3b', 'g_ss', 'g_lf',
       'g_cf', 'g_rf', 'g_of', 'g_dh', 'g_ph', 'g_pr'],
      dtype='object')

In [4]:
mgrs

         mgr_id  year_id team_id lg_id  inseason    g    w    l  rank plyr_mgr
0     wrighha01     1871     BS1  None         1   31   20   10     3        Y
1      woodji01     1871     CH1  None         1   28   19    9     2        Y
2     paborch01     1871     CL1  None         1   29   10   19     8        Y
3     lennobi01     1871     FW1  None         1   14    5    9     8        Y
4     deaneha01     1871     FW1  None         2    5    2    3     8        Y
...         ...      ...     ...   ...       ...  ...  ...  ...   ...      ...
3679  sheltde99     2021     PIT    NL         1  162   61  101     5        N
3680  tinglja99     2021     SDN    NL         1  162   79   83     3        N
3681  kaplega01     2021     SFN    NL         1  162  107   55     1        N
3682  shildmi99     2021     SLN    NL         1  162   90   72     2        N
3683  martida01     2021     WAS    NL         1  162   65   97     5        N

[3684 rows x 10 columns]

In [13]:
mgrs['year_id'].unique()

array([1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881,
       1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892,
       1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903,
       1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914,
       1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925,
       1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936,
       1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947,
       1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958,
       1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969,
       1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
       1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021], dtype=int16)

In [5]:
df = pd.merge(left=plrs[['year_id', 'team_id', 'lg_id', 'player_id', 'g_all']], right=mgrs, on=['year_id', 'team_id', 'lg_id'])
df

,year_id,team_id,lg_id,player_id,g_all,mgr_id,inseason,g,w,l,rank,plyr_mgr
0,1871,TRO,None,abercda01,1,pikeli01,1,4,1,3,6,Y
1,1871,TRO,None,abercda01,1,cravebi01,2,25,12,12,6,Y
2,1871,TRO,None,beaveed01,3,pikeli01,1,4,1,3,6,Y
3,1871,TRO,None,beaveed01,3,cravebi01,2,25,12,12,6,Y
4,1871,TRO,None,bellast01,29,pikeli01,1,4,1,3,6,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
136753,2021,SLN,NL,wainwad01,34,shildmi99,1,162,90,72,2,N
136754,2021,SLN,NL,webbty01,22,shildmi99,1,162,90,72,2,N
136755,2021,SLN,NL,whitlko01,25,shildmi99,1,162,90,72,2,N
136756,2021,SLN,NL,williju02,51,shildmi99,1,162,90,72,2,N
136757,2021,SLN,NL,woodfja01,26,shildmi99,1,162,90,72,2,N

In [6]:
df.groupby('player_id')['mgr_id'].nunique().sort_values()

player_id
rosensi01     1
daniech01     1
santito01     1
mossoea01     1
daneyar01     1
             ..
morgami01    24
doyleja01    25
gleaski01    25
quinnjo02    25
mcguide01    29
Name: mgr_id, Length: 20167, dtype: int64

In [7]:
df.query('player_id=="mcguide01"')

,year_id,team_id,lg_id,player_id,g_all,mgr_id,inseason,g,w,l,rank,plyr_mgr
3194,1884,TL1,AA,mcguide01,45,mortoch01,1,110,46,58,8,Y
4093,1885,DTN,NL,mcguide01,34,mortoch01,1,38,7,31,6,Y
4094,1885,DTN,NL,mcguide01,34,watkibi01,2,70,34,36,6,N
4397,1886,PHI,NL,mcguide01,50,wrighha01,1,119,71,43,4,N
4845,1887,PHI,NL,mcguide01,41,wrighha01,1,128,75,48,2,N
5316,1888,CL3,AA,mcguide01,26,williji99,1,64,20,44,6,N
5317,1888,CL3,AA,mcguide01,26,loftuto01,2,71,30,38,6,N
5430,1888,PHI,NL,mcguide01,12,wrighha01,1,132,69,61,3,N
5660,1888,DTN,NL,mcguide01,3,watkibi01,1,94,49,44,5,N
5661,1888,DTN,NL,mcguide01,3,leadlbo99,2,40,19,19,5,N
7097,1890,RC2,AA,mcguide01,87,powerpa99,1,133,63,63,5,N
7613,1891,WS9,AA,mcguide01,114,trottsa01,1,12,4,7,9,N
7614,1891,WS9,AA,mcguide01,114,snydepo01,2,70,23,46,8,Y
7615,1891,WS9,AA,mcguide01,114,shannda01,3,51,15,34,8,Y
7616,1891,WS9,AA,mcguide01,114,griffsa01,4,6,2,4,8,Y
8072,1892,WAS,NL,mcguide01,97,barnibi01,1,2,0,2,7,N
8073,1892,WAS,NL,mcguide01,97,irwinar01,2,108,46,60,7,N
8074,1892,WAS,NL,mcguide01,97,richada01,3,43,12,31,12,Y
8729,1893,WAS,NL,mcguide01,63,orourji01,1,130,40,89,12,Y
9011,1894,WAS,NL,mcguide01,104,schmegu99,1,132,45,87,11,N
9365,1895,WAS,NL,mcguide01,133,schmegu99,1,133,43,85,10,N
9772,1896,WAS,NL,mcguide01,108,schmegu99,1,133,58,73,9,N
10233,1897,WAS,NL,mcguide01,93,schmegu99,1,36,9,25,6,N
10234,1897,WAS,NL,mcguide01,93,brownto01,2,99,52,46,6,Y
10773,1898,WAS,NL,mcguide01,131,brownto01,1,38,12,26,11,Y
10774,1898,WAS,NL,mcguide01,131,doyleja01,2,17,8,9,11,Y
10775,1898,WAS,NL,mcguide01,131,mcguide01,3,70,21,47,11,Y
10776,1898,WAS,NL,mcguide01,131,irwinar01,4,30,10,19,11,N
11185,1899,BRO,NL,mcguide01,46,hanlone01,1,150,101,47,1,N
11220,1899,WAS,NL,mcguide01,58,irwinar01,1,155,54,98,11,N
11837,1900,BRO,NL,mcguide01,71,hanlone01,1,142,82,54,1,N
12225,1901,BRO,NL,mcguide01,85,hanlone01,1,137,79,57,3,N
12423,1902,DET,AL,mcguide01,73,dwyerfr01,1,137,52,83,7,N
13091,1903,DET,AL,mcguide01,72,barroed99,1,137,65,71,5,N
13416,1904,NYA,AL,mcguide01,101,griffcl01,1,155,92,59,2,Y
13925,1905,NYA,AL,mcguide01,74,griffcl01,1,152,71,78,6,Y
14610,1906,NYA,AL,mcguide01,51,griffcl01,1,155,90,61,2,Y
15009,1907,BOS,AL,mcguide01,6,youngcy01,1,6,3,3,7,Y
15010,1907,BOS,AL,mcguide01,6,huffge99,2,8,2,6,7,N
15011,1907,BOS,AL,mcguide01,6,unglabo01,3,29,9,20,7,Y
15012,1907,BOS,AL,mcguide01,6,mcguide01,4,112,45,61,7,Y
15210,1907,NYA,AL,mcguide01,1,griffcl01,1,152,70,78,5,Y
15398,1908,CLE,AL,mcguide01,1,lajoina01,1,157,90,64,2,Y
15524,1908,BOS,AL,mcguide01,1,mcguide01,1,115,53,62,5,Y
15525,1908,BOS,AL,mcguide01,1,lakefr01,2,40,22,17,5,N
16654,1910,CLE,AL,mcguide01,1,mcguide01,1,161,71,81,5,Y
18225,1912,DET,AL,mcguide01,1,jennihu01,1,154,69,84,6,Y

In [8]:
df.query('year_id>=1901').groupby('player_id')['mgr_id'].nunique().sort_values()

player_id
richadu02     1
floredo01     1
floodti01     1
flohrmo01     1
flitchi01     1
             ..
rhodear01    21
jacksed01    22
stairma01    23
farnsky01    23
morgami01    24
Name: mgr_id, Length: 18229, dtype: int64

In [9]:
morgan = df.query('player_id=="morgami01"')
morgan

,year_id,team_id,lg_id,player_id,g_all,mgr_id,inseason,g,w,l,rank,plyr_mgr
69153,1978,OAK,AL,morgami01,3,winklbo99,1,39,24,15,6,N
69154,1978,OAK,AL,morgami01,3,mckeoja99,2,123,45,78,6,N
70945,1979,OAK,AL,morgami01,13,marshji01,1,162,54,108,7,N
74251,1982,NYA,AL,morgami01,30,lemonbo01,1,14,6,8,5,N
74252,1982,NYA,AL,morgami01,30,michage01,2,86,44,42,5,N
74253,1982,NYA,AL,morgami01,30,kingcl01,3,62,29,33,5,N
75357,1983,TOR,AL,morgami01,16,coxbo01,1,162,89,73,4,N
78630,1985,SEA,AL,morgami01,2,cottich01,1,162,74,88,6,N
80136,1986,SEA,AL,morgami01,37,cottich01,1,28,9,19,7,N
80137,1986,SEA,AL,morgami01,37,martima01,2,1,0,1,7,N
80138,1986,SEA,AL,morgami01,37,willidi02,3,133,58,75,7,N
81338,1987,SEA,AL,morgami01,34,willidi02,1,162,78,84,4,N
81585,1988,BAL,AL,morgami01,22,ripkeca99,1,6,0,6,7,N
81586,1988,BAL,AL,morgami01,22,robinfr02,2,155,54,101,7,N
83701,1989,LAN,NL,morgami01,40,lasorto01,1,160,77,83,4,N
84278,1990,LAN,NL,morgami01,33,lasorto01,1,162,86,76,2,N
87173,1991,LAN,NL,morgami01,34,lasorto01,1,162,93,69,2,N
88199,1992,CHN,NL,morgami01,34,lefebji01,1,162,78,84,4,N
89437,1993,CHN,NL,morgami01,32,lefebji01,1,162,84,78,4,N
90615,1994,CHN,NL,morgami01,15,trebeto99,1,113,49,64,5,N
91188,1995,CHN,NL,morgami01,4,rigglji99,1,144,73,71,3,N
91862,1995,SLN,NL,morgami01,17,torrejo01,1,47,20,27,4,N
91863,1995,SLN,NL,morgami01,17,jorgemi01,2,96,42,54,4,N
92945,1996,SLN,NL,morgami01,18,larusto01,1,162,88,74,1,N
93343,1996,CIN,NL,morgami01,5,knighra01,1,162,81,81,3,N
95047,1997,CIN,NL,morgami01,31,knighra01,1,99,43,56,3,N
95048,1997,CIN,NL,morgami01,31,mckeoja99,2,63,33,30,3,N
95431,1998,CHN,NL,morgami01,5,rigglji99,1,163,90,73,2,N
95520,1998,MIN,AL,morgami01,18,kellyto01,1,162,70,92,4,N
97065,1999,TEX,AL,morgami01,34,oatesjo01,1,162,95,67,1,N
99029,2000,ARI,NL,morgami01,60,showabu99,1,162,85,77,3,N
100874,2001,ARI,NL,morgami01,31,brenlbo01,1,162,92,70,1,N
102742,2002,ARI,NL,morgami01,29,brenlbo01,1,162,98,64,1,N

In [10]:
morgan['mgr_name'] = bsu.get_player_names_col(morgan['mgr_id'], 'player_id')
morgan

/var/folders/xf/s_ztfznn4mnd_d19qwz_m1vm0000gn/T/ipykernel_28615/1277059658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  morgan['mgr_name'] = bsu.get_player_names_col(morgan['mgr_id'], 'player_id')

,year_id,team_id,lg_id,player_id,g_all,mgr_id,inseason,g,w,l,rank,plyr_mgr,mgr_name
69153,1978,OAK,AL,morgami01,3,winklbo99,1,39,24,15,6,N,Bobby Winkles
69154,1978,OAK,AL,morgami01,3,mckeoja99,2,123,45,78,6,N,Jack McKeon
70945,1979,OAK,AL,morgami01,13,marshji01,1,162,54,108,7,N,Jim Marshall
74251,1982,NYA,AL,morgami01,30,lemonbo01,1,14,6,8,5,N,Bob Lemon
74252,1982,NYA,AL,morgami01,30,michage01,2,86,44,42,5,N,Gene Michael
74253,1982,NYA,AL,morgami01,30,kingcl01,3,62,29,33,5,N,Clyde King
75357,1983,TOR,AL,morgami01,16,coxbo01,1,162,89,73,4,N,Bobby Cox
78630,1985,SEA,AL,morgami01,2,cottich01,1,162,74,88,6,N,Chuck Cottier
80136,1986,SEA,AL,morgami01,37,cottich01,1,28,9,19,7,N,Chuck Cottier
80137,1986,SEA,AL,morgami01,37,martima01,2,1,0,1,7,N,Marty Martinez
80138,1986,SEA,AL,morgami01,37,willidi02,3,133,58,75,7,N,Dick Williams
81338,1987,SEA,AL,morgami01,34,willidi02,1,162,78,84,4,N,Dick Williams
81585,1988,BAL,AL,morgami01,22,ripkeca99,1,6,0,6,7,N,Cal Ripken
81586,1988,BAL,AL,morgami01,22,robinfr02,2,155,54,101,7,N,Frank Robinson
83701,1989,LAN,NL,morgami01,40,lasorto01,1,160,77,83,4,N,Tom Lasorda
84278,1990,LAN,NL,morgami01,33,lasorto01,1,162,86,76,2,N,Tom Lasorda
87173,1991,LAN,NL,morgami01,34,lasorto01,1,162,93,69,2,N,Tom Lasorda
88199,1992,CHN,NL,morgami01,34,lefebji01,1,162,78,84,4,N,Jim Lefebvre
89437,1993,CHN,NL,morgami01,32,lefebji01,1,162,84,78,4,N,Jim Lefebvre
90615,1994,CHN,NL,morgami01,15,trebeto99,1,113,49,64,5,N,Tom Trebelhorn
91188,1995,CHN,NL,morgami01,4,rigglji99,1,144,73,71,3,N,Jim Riggleman
91862,1995,SLN,NL,morgami01,17,torrejo01,1,47,20,27,4,N,Joe Torre
91863,1995,SLN,NL,morgami01,17,jorgemi01,2,96,42,54,4,N,Mike Jorgensen
92945,1996,SLN,NL,morgami01,18,larusto01,1,162,88,74,1,N,Tony LaRussa
93343,1996,CIN,NL,morgami01,5,knighra01,1,162,81,81,3,N,Ray Knight
95047,1997,CIN,NL,morgami01,31,knighra01,1,99,43,56,3,N,Ray Knight
95048,1997,CIN,NL,morgami01,31,mckeoja99,2,63,33,30,3,N,Jack McKeon
95431,1998,CHN,NL,morgami01,5,rigglji99,1,163,90,73,2,N,Jim Riggleman
95520,1998,MIN,AL,morgami01,18,kellyto01,1,162,70,92,4,N,Tom Kelly
97065,1999,TEX,AL,morgami01,34,oatesjo01,1,162,95,67,1,N,Johnny Oates
99029,2000,ARI,NL,morgami01,60,showabu99,1,162,85,77,3,N,Buck Showalter
100874,2001,ARI,NL,morgami01,31,brenlbo01,1,162,92,70,1,N,Bob Brenly
102742,2002,ARI,NL,morgami01,29,brenlbo01,1,162,98,64,1,N,Bob Brenly

In [11]:
print(morgan[['year_id', 'team_id', 'mgr_name']].to_markdown(index=False))

|   year_id | team_id   | mgr_name       |
|----------:|:----------|:---------------|
|      1978 | OAK       | Bobby Winkles  |
|      1978 | OAK       | Jack McKeon    |
|      1979 | OAK       | Jim Marshall   |
|      1982 | NYA       | Bob Lemon      |
|      1982 | NYA       | Gene Michael   |
|      1982 | NYA       | Clyde King     |
|      1983 | TOR       | Bobby Cox      |
|      1985 | SEA       | Chuck Cottier  |
|      1986 | SEA       | Chuck Cottier  |
|      1986 | SEA       | Marty Martinez |
|      1986 | SEA       | Dick Williams  |
|      1987 | SEA       | Dick Williams  |
|      1988 | BAL       | Cal Ripken     |
|      1988 | BAL       | Frank Robinson |
|      1989 | LAN       | Tom Lasorda    |
|      1990 | LAN       | Tom Lasorda    |
|      1991 | LAN       | Tom Lasorda    |
|      1992 | CHN       | Jim Lefebvre   |
|      1993 | CHN       | Jim Lefebvre   |
|      1994 | CHN       | Tom Trebelhorn |
|      1995 | CHN       | Jim Riggleman  |
|      1995 | SLN       | Joe Torre      |
|      1995 | SLN       | Mike Jorgensen |
|      1996 | SLN       | Tony LaRussa   |
|      1996 | CIN       | Ray Knight     |
|      1997 | CIN       | Ray Knight     |
|      1997 | CIN       | Jack McKeon    |
|      1998 | CHN       | Jim Riggleman  |
|      1998 | MIN       | Tom Kelly      |
|      1999 | TEX       | Johnny Oates   |
|      2000 | ARI       | Buck Showalter |
|      2001 | ARI       | Bob Brenly     |
|      2002 | ARI       | Bob Brenly     |

In [12]:
df

,year_id,team_id,lg_id,player_id,g_all,mgr_id,inseason,g,w,l,rank,plyr_mgr
0,1871,TRO,None,abercda01,1,pikeli01,1,4,1,3,6,Y
1,1871,TRO,None,abercda01,1,cravebi01,2,25,12,12,6,Y
2,1871,TRO,None,beaveed01,3,pikeli01,1,4,1,3,6,Y
3,1871,TRO,None,beaveed01,3,cravebi01,2,25,12,12,6,Y
4,1871,TRO,None,bellast01,29,pikeli01,1,4,1,3,6,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
136753,2021,SLN,NL,wainwad01,34,shildmi99,1,162,90,72,2,N
136754,2021,SLN,NL,webbty01,22,shildmi99,1,162,90,72,2,N
136755,2021,SLN,NL,whitlko01,25,shildmi99,1,162,90,72,2,N
136756,2021,SLN,NL,williju02,51,shildmi99,1,162,90,72,2,N
136757,2021,SLN,NL,woodfja01,26,shildmi99,1,162,90,72,2,N