In [1]:
import boxball_loader as bbl
import pandas as pd
import baseball_stats_utils as bsu

In [2]:
mgrs = pd.read_parquet('../data/baseballdatabank/managers.parquet')
mgrs.columns

Index(['player_id', 'year_id', 'team_id', 'lg_id', 'inseason', 'g', 'w', 'l',
       'rank', 'plyr_mgr'],
      dtype='object')

In [3]:
plrs = bbl.load_appearances()
plrs.columns

Index(['year_id', 'team_id', 'lg_id', 'player_id', 'g_all', 'gs', 'g_batting',
       'g_defense', 'g_p', 'g_c', 'g_1b', 'g_2b', 'g_3b', 'g_ss', 'g_lf',
       'g_cf', 'g_rf', 'g_of', 'g_dh', 'g_ph', 'g_pr'],
      dtype='object')

In [4]:
mgrs.rename(columns={'player_id': 'mgr_id'})

         mgr_id  year_id team_id lg_id  inseason   g   w   l  rank plyr_mgr
0     wrighha01     1871     BS1  None         1  31  20  10   3.0        Y
1      woodji01     1871     CH1  None         1  28  19   9   2.0        Y
2     paborch01     1871     CL1  None         1  29  10  19   8.0        Y
3     lennobi01     1871     FW1  None         1  14   5   9   8.0        Y
4     deaneha01     1871     FW1  None         2   5   2   3   8.0        Y
...         ...      ...     ...   ...       ...  ..  ..  ..   ...      ...
3562  sheltde99     2020     PIT    NL         1  60  19  41   5.0        N
3563  tinglja99     2020     SDN    NL         1  60  37  23   2.0        N
3564  kaplega01     2020     SFN    NL         1  60  29  31   3.0        N
3565  shildmi99     2020     SLN    NL         1  58  30  28   3.0        N
3566  martida01     2020     WAS    NL         1  60  26  34   5.0        N

[3567 rows x 10 columns]

In [5]:
df = pd.merge(left=plrs[['year_id', 'team_id', 'lg_id', 'player_id', 'g_all']], right=mgrs.rename(columns={'player_id': 'mgr_id'}), on=['year_id', 'team_id', 'lg_id'])
df

,year_id,team_id,lg_id,player_id,g_all,mgr_id,inseason,g,w,l,rank,plyr_mgr
0,1871,TRO,None,abercda01,1,pikeli01,1,4,1,3,6.0,Y
1,1871,TRO,None,abercda01,1,cravebi01,2,25,12,12,6.0,Y
2,1871,TRO,None,beaveed01,3,pikeli01,1,4,1,3,6.0,Y
3,1871,TRO,None,beaveed01,3,cravebi01,2,25,12,12,6.0,Y
4,1871,TRO,None,bellast01,29,pikeli01,1,4,1,3,6.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
131035,2020,SLN,NL,whitlko01,4,shildmi99,1,58,30,28,3.0,N
131036,2020,SLN,NL,wietema01,19,shildmi99,1,58,30,28,3.0,N
131037,2020,SLN,NL,williju02,3,shildmi99,1,58,30,28,3.0,N
131038,2020,SLN,NL,wongko01,53,shildmi99,1,58,30,28,3.0,N
131039,2020,SLN,NL,woodfja01,12,shildmi99,1,58,30,28,3.0,N

In [6]:
df.groupby('player_id')['mgr_id'].nunique().sort_values()

player_id
hennira01     1
parkewe01     1
kimeha01      1
parksde01     1
parkssl01     1
             ..
morgami01    24
gleaski01    25
doyleja01    25
quinnjo02    25
mcguide01    29
Name: mgr_id, Length: 19899, dtype: int64

In [7]:
df.query('player_id=="mcguide01"')

,year_id,team_id,lg_id,player_id,g_all,mgr_id,inseason,g,w,l,rank,plyr_mgr
3194,1884,TL1,AA,mcguide01,45,mortoch01,1,110,46,58,8.0,Y
4093,1885,DTN,NL,mcguide01,34,mortoch01,1,38,7,31,6.0,Y
4094,1885,DTN,NL,mcguide01,34,watkibi01,2,70,34,36,6.0,N
4397,1886,PHI,NL,mcguide01,50,wrighha01,1,119,71,43,4.0,N
4845,1887,PHI,NL,mcguide01,41,wrighha01,1,128,75,48,2.0,N
5316,1888,CL3,AA,mcguide01,26,williji99,1,64,20,44,6.0,N
5317,1888,CL3,AA,mcguide01,26,loftuto01,2,71,30,38,6.0,N
5430,1888,PHI,NL,mcguide01,12,wrighha01,1,132,69,61,3.0,N
5660,1888,DTN,NL,mcguide01,3,watkibi01,1,94,49,44,5.0,N
5661,1888,DTN,NL,mcguide01,3,leadlbo99,2,40,19,19,5.0,N
7097,1890,RC2,AA,mcguide01,87,powerpa99,1,133,63,63,5.0,N
7613,1891,WS9,AA,mcguide01,114,trottsa01,1,12,4,7,9.0,N
7614,1891,WS9,AA,mcguide01,114,snydepo01,2,70,23,46,8.0,Y
7615,1891,WS9,AA,mcguide01,114,shannda01,3,51,15,34,8.0,Y
7616,1891,WS9,AA,mcguide01,114,griffsa01,4,6,2,4,8.0,Y
8072,1892,WAS,NL,mcguide01,97,barnibi01,1,2,0,2,7.0,N
8073,1892,WAS,NL,mcguide01,97,irwinar01,2,108,46,60,7.0,N
8074,1892,WAS,NL,mcguide01,97,richada01,3,43,12,31,12.0,Y
8729,1893,WAS,NL,mcguide01,63,orourji01,1,130,40,89,12.0,Y
9011,1894,WAS,NL,mcguide01,104,schmegu99,1,132,45,87,11.0,N
9365,1895,WAS,NL,mcguide01,133,schmegu99,1,133,43,85,10.0,N
9772,1896,WAS,NL,mcguide01,108,schmegu99,1,133,58,73,9.0,N
10233,1897,WAS,NL,mcguide01,93,schmegu99,1,36,9,25,6.0,N
10234,1897,WAS,NL,mcguide01,93,brownto01,2,99,52,46,6.0,Y
10773,1898,WAS,NL,mcguide01,131,brownto01,1,38,12,26,11.0,Y
10774,1898,WAS,NL,mcguide01,131,doyleja01,2,17,8,9,11.0,Y
10775,1898,WAS,NL,mcguide01,131,mcguide01,3,70,21,47,11.0,Y
10776,1898,WAS,NL,mcguide01,131,irwinar01,4,30,10,19,11.0,N
11185,1899,BRO,NL,mcguide01,46,hanlone01,1,150,101,47,1.0,N
11220,1899,WAS,NL,mcguide01,58,irwinar01,1,155,54,98,11.0,N
11837,1900,BRO,NL,mcguide01,71,hanlone01,1,142,82,54,1.0,N
12225,1901,BRO,NL,mcguide01,85,hanlone01,1,137,79,57,3.0,N
12423,1902,DET,AL,mcguide01,73,dwyerfr01,1,137,52,83,7.0,N
13091,1903,DET,AL,mcguide01,72,barroed99,1,137,65,71,5.0,N
13416,1904,NYA,AL,mcguide01,101,griffcl01,1,155,92,59,2.0,Y
13925,1905,NYA,AL,mcguide01,74,griffcl01,1,152,71,78,6.0,Y
14610,1906,NYA,AL,mcguide01,51,griffcl01,1,155,90,61,2.0,Y
15009,1907,BOS,AL,mcguide01,6,youngcy01,1,6,3,3,7.0,Y
15010,1907,BOS,AL,mcguide01,6,huffge99,2,8,2,6,7.0,N
15011,1907,BOS,AL,mcguide01,6,unglabo01,3,29,9,20,7.0,Y
15012,1907,BOS,AL,mcguide01,6,mcguide01,4,112,45,61,7.0,Y
15210,1907,NYA,AL,mcguide01,1,griffcl01,1,152,70,78,5.0,Y
15398,1908,CLE,AL,mcguide01,1,lajoina01,1,157,90,64,2.0,Y
15524,1908,BOS,AL,mcguide01,1,mcguide01,1,115,53,62,5.0,Y
15525,1908,BOS,AL,mcguide01,1,lakefr01,2,40,22,17,5.0,N
16654,1910,CLE,AL,mcguide01,1,mcguide01,1,161,71,81,5.0,Y
18225,1912,DET,AL,mcguide01,1,jennihu01,1,154,69,84,6.0,Y

In [8]:
df.query('year_id>=1901').groupby('player_id')['mgr_id'].nunique().sort_values()

player_id
landdo01      1
montaed01     1
montara01     1
dreesto01     1
dreesbi01     1
             ..
johnsde01    20
ceronri01    21
johnto01     21
kingmda01    21
morgami01    24
Name: mgr_id, Length: 17961, dtype: int64

In [9]:
morgan = df.query('player_id=="morgami01"')
morgan

,year_id,team_id,lg_id,player_id,g_all,mgr_id,inseason,g,w,l,rank,plyr_mgr
69153,1978,OAK,AL,morgami01,3,winklbo99,1,39,24,15,6.0,N
69154,1978,OAK,AL,morgami01,3,mckeoja99,2,123,45,78,6.0,N
70945,1979,OAK,AL,morgami01,13,marshji01,1,162,54,108,7.0,N
74251,1982,NYA,AL,morgami01,30,lemonbo01,1,14,6,8,5.0,N
74252,1982,NYA,AL,morgami01,30,michage01,2,86,44,42,5.0,N
74253,1982,NYA,AL,morgami01,30,kingcl01,3,62,29,33,5.0,N
75357,1983,TOR,AL,morgami01,16,coxbo01,1,162,89,73,4.0,N
78630,1985,SEA,AL,morgami01,2,cottich01,1,162,74,88,6.0,N
80136,1986,SEA,AL,morgami01,37,cottich01,1,28,9,19,7.0,N
80137,1986,SEA,AL,morgami01,37,martima01,2,1,0,1,7.0,N
80138,1986,SEA,AL,morgami01,37,willidi02,3,133,58,75,7.0,N
81338,1987,SEA,AL,morgami01,34,willidi02,1,162,78,84,4.0,N
81585,1988,BAL,AL,morgami01,22,ripkeca99,1,6,0,6,7.0,N
81586,1988,BAL,AL,morgami01,22,robinfr02,2,155,54,101,7.0,N
83701,1989,LAN,NL,morgami01,40,lasorto01,1,160,77,83,4.0,N
84278,1990,LAN,NL,morgami01,33,lasorto01,1,162,86,76,2.0,N
87173,1991,LAN,NL,morgami01,34,lasorto01,1,162,93,69,2.0,N
88199,1992,CHN,NL,morgami01,34,lefebji01,1,162,78,84,4.0,N
89437,1993,CHN,NL,morgami01,32,lefebji01,1,162,84,78,4.0,N
90615,1994,CHN,NL,morgami01,15,trebeto99,1,113,49,64,5.0,N
91188,1995,CHN,NL,morgami01,4,rigglji99,1,144,73,71,3.0,N
91862,1995,SLN,NL,morgami01,17,torrejo01,1,47,20,27,4.0,N
91863,1995,SLN,NL,morgami01,17,jorgemi01,2,96,42,54,4.0,N
92945,1996,SLN,NL,morgami01,18,larusto01,1,162,88,74,1.0,N
93343,1996,CIN,NL,morgami01,5,knighra01,1,162,81,81,3.0,N
95047,1997,CIN,NL,morgami01,31,knighra01,1,99,43,56,3.0,N
95048,1997,CIN,NL,morgami01,31,mckeoja99,2,63,33,30,3.0,N
95431,1998,CHN,NL,morgami01,5,rigglji99,1,163,90,73,2.0,N
95520,1998,MIN,AL,morgami01,18,kellyto01,1,162,70,92,4.0,N
97065,1999,TEX,AL,morgami01,34,oatesjo01,1,162,95,67,1.0,N
98801,2000,ARI,NL,morgami01,60,showabu99,1,162,85,77,3.0,N
100376,2001,ARI,NL,morgami01,31,brenlbo01,1,162,92,70,1.0,N
102203,2002,ARI,NL,morgami01,29,brenlbo01,1,162,98,64,1.0,N

In [10]:
morgan['mgr_name'] = bsu.get_player_names_col(morgan['mgr_id'], 'player_id')
morgan

<ipython-input-10-d639d053ea9c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  morgan['mgr_name'] = bsu.get_player_names_col(morgan['mgr_id'], 'player_id')

,year_id,team_id,lg_id,player_id,g_all,mgr_id,inseason,g,w,l,rank,plyr_mgr,mgr_name
69153,1978,OAK,AL,morgami01,3,winklbo99,1,39,24,15,6.0,N,Bobby Winkles
69154,1978,OAK,AL,morgami01,3,mckeoja99,2,123,45,78,6.0,N,Jack McKeon
70945,1979,OAK,AL,morgami01,13,marshji01,1,162,54,108,7.0,N,Jim Marshall
74251,1982,NYA,AL,morgami01,30,lemonbo01,1,14,6,8,5.0,N,Bob Lemon
74252,1982,NYA,AL,morgami01,30,michage01,2,86,44,42,5.0,N,Gene Michael
74253,1982,NYA,AL,morgami01,30,kingcl01,3,62,29,33,5.0,N,Clyde King
75357,1983,TOR,AL,morgami01,16,coxbo01,1,162,89,73,4.0,N,Bobby Cox
78630,1985,SEA,AL,morgami01,2,cottich01,1,162,74,88,6.0,N,Chuck Cottier
80136,1986,SEA,AL,morgami01,37,cottich01,1,28,9,19,7.0,N,Chuck Cottier
80137,1986,SEA,AL,morgami01,37,martima01,2,1,0,1,7.0,N,Marty Martinez
80138,1986,SEA,AL,morgami01,37,willidi02,3,133,58,75,7.0,N,Dick Williams
81338,1987,SEA,AL,morgami01,34,willidi02,1,162,78,84,4.0,N,Dick Williams
81585,1988,BAL,AL,morgami01,22,ripkeca99,1,6,0,6,7.0,N,Cal Ripken
81586,1988,BAL,AL,morgami01,22,robinfr02,2,155,54,101,7.0,N,Frank Robinson
83701,1989,LAN,NL,morgami01,40,lasorto01,1,160,77,83,4.0,N,Tom Lasorda
84278,1990,LAN,NL,morgami01,33,lasorto01,1,162,86,76,2.0,N,Tom Lasorda
87173,1991,LAN,NL,morgami01,34,lasorto01,1,162,93,69,2.0,N,Tom Lasorda
88199,1992,CHN,NL,morgami01,34,lefebji01,1,162,78,84,4.0,N,Jim Lefebvre
89437,1993,CHN,NL,morgami01,32,lefebji01,1,162,84,78,4.0,N,Jim Lefebvre
90615,1994,CHN,NL,morgami01,15,trebeto99,1,113,49,64,5.0,N,Tom Trebelhorn
91188,1995,CHN,NL,morgami01,4,rigglji99,1,144,73,71,3.0,N,Jim Riggleman
91862,1995,SLN,NL,morgami01,17,torrejo01,1,47,20,27,4.0,N,Joe Torre
91863,1995,SLN,NL,morgami01,17,jorgemi01,2,96,42,54,4.0,N,Mike Jorgensen
92945,1996,SLN,NL,morgami01,18,larusto01,1,162,88,74,1.0,N,Tony LaRussa
93343,1996,CIN,NL,morgami01,5,knighra01,1,162,81,81,3.0,N,Ray Knight
95047,1997,CIN,NL,morgami01,31,knighra01,1,99,43,56,3.0,N,Ray Knight
95048,1997,CIN,NL,morgami01,31,mckeoja99,2,63,33,30,3.0,N,Jack McKeon
95431,1998,CHN,NL,morgami01,5,rigglji99,1,163,90,73,2.0,N,Jim Riggleman
95520,1998,MIN,AL,morgami01,18,kellyto01,1,162,70,92,4.0,N,Tom Kelly
97065,1999,TEX,AL,morgami01,34,oatesjo01,1,162,95,67,1.0,N,Johnny Oates
98801,2000,ARI,NL,morgami01,60,showabu99,1,162,85,77,3.0,N,Buck Showalter
100376,2001,ARI,NL,morgami01,31,brenlbo01,1,162,92,70,1.0,N,Bob Brenly
102203,2002,ARI,NL,morgami01,29,brenlbo01,1,162,98,64,1.0,N,Bob Brenly

In [11]:
print(morgan[['year_id', 'team_id', 'mgr_name']].to_markdown(index=False))

|   year_id | team_id   | mgr_name       |
|----------:|:----------|:---------------|
|      1978 | OAK       | Bobby Winkles  |
|      1978 | OAK       | Jack McKeon    |
|      1979 | OAK       | Jim Marshall   |
|      1982 | NYA       | Bob Lemon      |
|      1982 | NYA       | Gene Michael   |
|      1982 | NYA       | Clyde King     |
|      1983 | TOR       | Bobby Cox      |
|      1985 | SEA       | Chuck Cottier  |
|      1986 | SEA       | Chuck Cottier  |
|      1986 | SEA       | Marty Martinez |
|      1986 | SEA       | Dick Williams  |
|      1987 | SEA       | Dick Williams  |
|      1988 | BAL       | Cal Ripken     |
|      1988 | BAL       | Frank Robinson |
|      1989 | LAN       | Tom Lasorda    |
|      1990 | LAN       | Tom Lasorda    |
|      1991 | LAN       | Tom Lasorda    |
|      1992 | CHN       | Jim Lefebvre   |
|      1993 | CHN       | Jim Lefebvre   |
|      1994 | CHN       | Tom Trebelhorn |
|      1995 | CHN       | Jim Riggleman  |
|      1995 | SLN       | Joe Torre      |
|      1995 | SLN       | Mike Jorgensen |
|      1996 | SLN       | Tony LaRussa   |
|      1996 | CIN       | Ray Knight     |
|      1997 | CIN       | Ray Knight     |
|      1997 | CIN       | Jack McKeon    |
|      1998 | CHN       | Jim Riggleman  |
|      1998 | MIN       | Tom Kelly      |
|      1999 | TEX       | Johnny Oates   |
|      2000 | ARI       | Buck Showalter |
|      2001 | ARI       | Bob Brenly     |
|      2002 | ARI       | Bob Brenly     |

In [12]:
df

,year_id,team_id,lg_id,player_id,g_all,mgr_id,inseason,g,w,l,rank,plyr_mgr
0,1871,TRO,None,abercda01,1,pikeli01,1,4,1,3,6.0,Y
1,1871,TRO,None,abercda01,1,cravebi01,2,25,12,12,6.0,Y
2,1871,TRO,None,beaveed01,3,pikeli01,1,4,1,3,6.0,Y
3,1871,TRO,None,beaveed01,3,cravebi01,2,25,12,12,6.0,Y
4,1871,TRO,None,bellast01,29,pikeli01,1,4,1,3,6.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
131035,2020,SLN,NL,whitlko01,4,shildmi99,1,58,30,28,3.0,N
131036,2020,SLN,NL,wietema01,19,shildmi99,1,58,30,28,3.0,N
131037,2020,SLN,NL,williju02,3,shildmi99,1,58,30,28,3.0,N
131038,2020,SLN,NL,wongko01,53,shildmi99,1,58,30,28,3.0,N
131039,2020,SLN,NL,woodfja01,12,shildmi99,1,58,30,28,3.0,N